<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>org.infodavid.professore.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>archives/org.infodavid.professore-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- each file should be at most 10MB, keep 10 days worth of history, but at most 1GB -->
      <maxFileSize>25MB</maxFileSize>
      <maxHistory>10</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="SWING" class="org.infodavid.util.swing.SwingAppender">
    <maxSize>1000</maxSize>
  </appender>
  <logger name="org.springframework" level="info" />
  <logger name="org.apache" level="info" />
  <logger name="org.infodavid" level="debug" />
  <!-- keep default level to debug -->
  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ROLLING_FILE" />
    <appender-ref ref="SWING" />
  </root>
</configuration>
